.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-preview {
    display: flex;
    justify-content: center;
    min-width: 800px;
    min-height: auto;
    max-width: 800px;
    max-height: 600px;
    border: 2px solid antiquewhite;
}
#canvas {
    max-width: 100%;
    height: auto;
}
.interface {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding: 5px;
    background-color: antiquewhite;
    min-width: 800px;
}

