body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: cornsilk;
    background-image: url("img/piano.jpg");
    background-size: cover;
    overflow: hidden;
    /*min-width: 800px;*/
}

.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
.white-keys {
    display: flex;
    flex-wrap: nowrap;
}

.white-keys kbd{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 10vw;
    height: 400px;
    background-color: white;
    border: .1vw solid black;
    border-radius: .5vw;
    text-align: center;
    margin: auto;
}
/*.white-keys kbd p {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    !*bottom: 10%;*!*/
/*}*/
.black-keys {
    position: absolute;
}
.black-keys kbd{
    position: absolute;
    display: inline-block;
    width: 5vw;
    height: 270px;
    background-color: black;
    color: white;
    border: .1vw solid black;
    border-radius: 0 0 .5vw .5vw;
    text-align: center;
}
.black-keys kbd[class="keyU"] {
    right: -62.7vw;
}

.black-keys kbd[class="keyY"] {
    right: -52.7vw;
}

.black-keys kbd[class="keyT"] {
    right: -42.7vw;
}

.black-keys kbd[class="keyE"] {
    right: -22.7vw;
}

.black-keys kbd[class="keyW"] {
    right: -12.7vw;
}
